pre {
    text-align: center;
}

/* @media only screen and (min-width: 640px) {
    #canvas1 {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (min-width: 768px) {
    #canvas1 {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (min-width: 980px) {
    #canvas1 {
        width: 1000px;
        height: 1000px;
    }
} */